// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "bootstrap";

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.custom-form {
    max-width: 400px;
    width: 100%;
}

.form-control {
    width: 114%;
}

.btn-primary {
    color: black;
    margin: 40px 147px 0;
}
