body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.custom-form {
    max-width: 400px;
    width: 100%;
}

.btn-primary {
    color: black;
    margin: 40px 147px 0;
}
