body {
    margin: 0;
    padding: 0;
}

:root {
    --bs-border-radius: 1.375rem;
}

.py-3 {
    padding-top: 0.5rem!important;

    .form-control {
        margin: 0 auto;
        width: 41%;
        padding-top: 0.5rem!important;
    }
}

input::placeholder {
    text-indent: 3px;
}

/*.dynamic-button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;

}*/
