body {
    margin: 0;
    padding: 0;
}

:root {
    --bs-border-radius: 1.375rem;
}

.py-3 {
    padding-top: 0.5rem!important;

    .form-control {
        margin: 0 auto;
        width: 41%;
        padding-top: 0.5rem!important;
    }
}

input::placeholder {
    text-indent: 3px;
}

.btn {
    background-color: #EEEEEEFF;
    border-radius: 10px;
    margin: 4px;
    font-weight: bolder;
}
.video-container {
    max-width: 1200px;
    margin: 0;
}

.row {
    border-collapse: collapse;
    width: 100%;
}


.col-lg-3 {
    border: 1px solid #ddd;
    height: 213px;
    padding: 10px;

}


div.content {
    padding-bottom: 35px;
}
