body {
    margin: 0;
    padding: 0;
}

.container-header {
    height: 56px;
    padding: 0 16px;

    #header-id {
        height: 56px;

        .col-lg-2.button-x-logo {
            text-align: center;
            display: flex;

            .button-menu {
                width: 40px;
                background-color: transparent;
                border: transparent;
                margin-right: 17px;
            }

            svg.external-icon {
                width: 32%;
            }
        }

        .col-lg-2 {
            display: flex;
            justify-content: right;

            button.sign-in-button {
                font-family: "Roboto","Arial",sans-serif;
                margin-top: 10px;
                height: 36px;
                width: 35%;
                border-radius: 33px;
                display: inline-flex;
                align-items: center;
                border: 1px solid #dbdbe0;
                padding: 10px;
                background-color: transparent;

                svg#sign-in-button-svg {
                    margin-right: 6px;
                }

                .sign-in-text {
                    font-weight: 500;
                    font-size: .9rem;
                    letter-spacing: -0.4px;
                    color: #065fd4;
                }
            }
        }
    }
}


.py-3.mb-3.search-button {
    display: inline-flex;
}

:root {
    --bs-border-radius: 1.375rem;
}

.py-3 {
    padding-top: 0.2rem !important;
    padding-bottom: 0 !important;
}

.mb-3 {
    margin-bottom: 0 !important;
}

.py-3.mb-3 {
    width: 74%;
}

.d-flex.align-items-center {
    width: 79%;
}

.form-control {
    margin: 0 auto;
    width: 56%;
    font-size: 16px;
    font-family: Roboto,Noto,sans-serif;
    color: #b7b7b9;
    border-color: #cdc5c5;
}

.input.form-control {

}

input::placeholder {
    text-indent: 3px;
}

.btn {
    background-color: #EEEEEEFF;
    border-radius: 10px;
    margin: 4px;
    font-size: 0.86rem;
    font-family: "Roboto","Arial",sans-serif;
    line-height: 1.3rem;
    font-weight: 900;
}

.btn:first-child {
    margin-left: 0;
}

.col-lg-3 {
    padding: 3px;
    height: 312px;
    flex: 0 0 calc(24.5% - 10px);
}

.content {
    max-width: 1850px;
    margin: 0 auto;
}

.aside {
    float: left;
    width: 13%;
    height: 500px;
    padding-top: 12px;
    transition: width 0.3s ease;

    ul {
        padding-left: 20px;
    }
}

.aside.collapsed {
    width: 50px;
}

.nav-pills .nav-link.active {
    color: RGBA(26,30,33,var(--bs-link-opacity, 1)) !important;
    background-color: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}


.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}

.yt-core-attributed-string {
    color: #396eec;
    font-weight: 900;
    font-size: 1.1em;
}

/*.style-scope.ytd-guide-signin-promo-renderer{
    display: block;
    color: var(--yt-spec-text-primary);
    font-family: "Roboto","Arial",sans-serif;
    line-height: 1.5rem;
    font-weight: 400;
}*/

.sign-in-button-aside {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    cursor: pointer;
    margin-top: 7px;
    height: 36px;
    width: 48%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    border: 1px solid #dbdbe0;
    padding: 10px;
    margin-left: 20px;
    background-color: transparent;
}

.nav-link.active,
.nav-link.link-dark {
    padding-left: 0;
}

.p-aside {
    padding-left: 18px;
    font-weight: 700;
}

.aside hr {
    opacity: 0.15;
}

.aside #menu-text {
    padding-left: 20px;
}

.video-content {
    float: left;
    width: 86.5%;
    margin: 16px 0 0 0.5%;

    .row {
        margin: 0;
    }
}

.tags {
    margin-bottom: 22px;
}
.col-lg-3 {
     img.photo_url{
         width: 378px;
         height: 213px;
         background-size: cover;
         border-radius: 15px;
     }

     .item-main-photo {
         position: relative;

         .item-duration {
             position: absolute;
             bottom: 5px;
             right: 5px;
             background-color:rgba(0,0,0,0.7);
             color: #fff;
             padding: 0 4px;
             border-radius: 4px;
             font-size: 12px;
         }
     }

     img.channel_photo_url {
         width: 9.5%;
         border-radius: 65%;
         margin: 12px 12px 0 0;
         float: left;
     }

     .item-name {
         color: #090909;
         font-family: "Roboto","Arial",sans-serif;
         font-size: 1rem;
         line-height: 1.6rem;
         font-weight: 500;
         letter-spacing: 0.01rem;
     }

     .item-channel-name, .item-views-count, .item-realise-date {
         font-weight: 900;
         color: #6c6464;
     }

     .item-realise-date::before {
             content: "•";
             margin: 0 4px;
             color: #6c6464;
     }
}

.my-custom-class {
    margin: 1px 5px 60px;
}


@media screen  and (min-width: 811px) {
    .youtube_logo_tablet, .search-icon {
        display: none;
    }
}


@media screen and (max-width: 810px) {
    .content {
        max-width: 810px;

        .container-header {
            padding: 0;
            height: 48px;
            width: 100%;
            box-shadow: 0 3px 3px -2px rgba(0,0,0,.5);

            .button-x-logo {
                display: flex;
                justify-content: center;
                text-align: center;
                width: 14%;

                .button-menu {
                    display: none;
                }

                .external-icon {
                    display: none;
                }
            }

            .header-navbar {
                width: 86%;
                height: inherit;
                display: flex;
                justify-content: flex-end;

                .search-icon {
                    padding-right: 19px;
                }

                .search-button {
                    display: none;
                }

                .sign-in-button {
                    border: none;
                    height: 100%;
                    padding: 0 7px 0 0;
                    margin: 0;
                    justify-content: center;

                    .sign-in-button-svg {
                        margin: 0;
                    }

                    .patch-style-sign-in-button{
                        fill: #000000;
                    }

                    span {
                        display: none;
                    }
                }
            }
        }

        .aside {
            display: none;
        }

        .video-content {
            float: none;
            margin: 0;
            width: 100%;

            .tags {
                white-space: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                scrollbar-width: none;
                border-bottom: 1px solid rgba(0,0,0,0.1);
                height: 48px;
                margin: 0 0 10px 0;

                .btn {
                    display: inline-block;
                    margin: 8px 8px 8px 0;
                    line-height: 1.1rem;
                    font-size: 0.8rem;
                    font-weight: 500;
                }

                .btn:first-child {
                    margin-left: 10px;
                }

            }

            .row {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 auto;
                padding: 0 16px;

                .col-lg-3.my-custom-class {
                    padding: 0;
                    height: 303px;
                }

                .my-custom-class {
                    margin: 0;
                }
                .col-lg-3 {
                    height: 278px;

                    .photo_url {
                        width: 381px;
                    }

                    .main-youtube-data {
                        height: 61px;
                        margin-top: 8px;

                        .item-name {
                            font-size: 0.91rem;
                            line-height: normal;
                            letter-spacing: -.01rem;
                        }

                        .channel_photo_url {
                            margin: 4px 14px 0 0;
                            width: 10.5%;
                        }

                        .youtube-data {
                            height: 20px;
                            margin-left: 53px;

                            .channel_id_styles {
                                display: inline-block;

                                .item-channel-name {
                                    font-weight: 500;
                                }
                            }

                            .item-views-count {
                                font-size: 12px;
                            }

                            .item-views-count::before, .item-realise-date::before{
                                content: "•";
                                margin: 0 4px;
                                color: #6c6464;
                                font-size: 9px;
                            }

                            .item-realise-date {
                                font-size: 12px;
                            }
                        }
                    }
                }

            }
        }
    }
}


@media screen and (max-width: 400px) {

    .container-header {
        display: inline-flex;
        height: 48px;
        padding: 0;
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);

        .button-x-logo {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 28%;
            margin-right: 204px;
        }

        .header-navbar {
            .search-icon {
                width: 6%;
            }

            .search-button {
                display: none;
            }

            .sign-in-button {
                border: none;
                width: 15%;
                margin: 0;
                padding: 0 0 0 23px;

                .patch-style-sign-in-button{
                    fill: #000000;
                }

                span {
                    display: none;
                }
            }
        }
    }

    .aside, .button-menu {
        display: none;
    }

    .video-content {
        margin: 0;
        border-top: 1px solid rgba(0,0,0,0.1);
        width: 100%;

        .tags {
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            height: 48px;
            margin: 0;

            .btn {
                display: inline-block;
                margin: 8px 8px 8px 0;
                line-height: 1.1rem;
                font-size: 0.9rem;
                font-weight: 500;
            }

        }

        .col-lg-3.my-custom-class {
            margin: 0;
            padding: 0;
            height: 313px;

        }

        .col-lg-3 {
            img.photo_url {
                border-radius: 0;
                width: 400px;
                height: 225px;
            }

            img.channel_photo_url {
                margin: 12px;
            }

            .item-name {
                margin: 10px 30px 0 0;
                position: absolute;
                line-height: 1.1rem;
                font-size: 0.8rem;
            }

            .item_name {
                height: 44px;
            }

            .youtube-data {
                /*margin-top: 23px;*/

                .item-channel-name {
                    font-weight: 500;
                    font-size: .7rem;
                }

                #channel-name-display {
                    display: none;
                }

                .item-views-count {
                    font-weight: 500;
                    font-size: .7rem;
                }

                .item-views-count::before{
                    content: "•";
                    margin: 0 2px;
                    color: #6c6464;
                }

                .item-realise-date {
                    font-weight: 500;
                    font-size: .7rem;

                }

            }

        }
    }
}









